name: fiber_firebase_annotations
description: >
  A Dart annotation package providing lightweight metadata for Firebase-oriented code generation. It defines structured annotations for Firestore, Realtime Database, Storage, and domain models, enabling Fiber generators to create strongly typed, Firebase-agnostic integrations with minimal boilerplate and clear separation of concerns.
version: 1.1.4

environment:
  sdk: ^3.9.2

repository: https://github.com/daf-ep/firebase_annotations

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true